/* FAQPage.css */
.FAQPage {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #6495ED; /* Blue background color */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

h1 {
  color: #6495ED; /* Blue text color */
}

.buttons-container {
  display: flex;
}

.redirect-button {
  background-color: #6495ED; /* Blue button background color */
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.redirect-button:hover {
  background-color: #4169E1; /* Darker blue on hover */
}

.faqs-table-container {
  overflow-x: auto;
}

.faqs-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.faqs-table th,
.faqs-table td {
  border: 1px solid #6495ED; /* Blue border color */
  padding: 12px;
  text-align: left;
}

.faqs-table th {
  background-color: #6495ED; /* Blue table header background color */
  color: white;
}
