.FAQPage {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5; /* Change to a lighter background color */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

h1 {
  margin: 0;
  font-size: 24px;
  color: black; /* Set text color to black */
}

.buttons-container {
  display: flex;
}

.redirect-button {
  margin-right: 10px;
  padding: 10px 15px;
  background-color: #6495ED;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.redirect-button:hover {
  background-color: #4169E1;
}

.faqs-table-container {
  overflow-x: auto;
}

.faqs-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.faqs-table th,
.faqs-table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

.faqs-table th {
  background-color: #6495ED;
  color: white;
}