.dashboard-login {
  background-color: #2148c0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.dashboard-login .overlap-wrapper {
  background-color: #2148c0;
  height: 720px;
  overflow: hidden;
  width: 1280px;
}

.dashboard-login .overlap {
  height: 1024px;
  left: -362px;
  position: relative;
  top: -1px;
  width: 1440px;
}

.dashboard-login .BG {
  height: 1024px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.dashboard-login .overlap-group {
  height: 1007px;
  left: 0;
  position: absolute;
  top: 0;
  width: 724px;
}

.dashboard-login .ellipse {
  background-color: #264ec9;
  border-radius: 362px;
  height: 724px;
  left: 0;
  position: absolute;
  top: 0;
  width: 724px;
}

.dashboard-login .div {
  background-color: #234bc5;
  border-radius: 286px;
  height: 572px;
  left: 76px;
  position: absolute;
  top: 435px;
  width: 572px;
}

.dashboard-login .ellipse-2 {
  background-color: #274ec7;
  border-radius: 219px;
  height: 438px;
  left: 143px;
  position: absolute;
  top: 502px;
  width: 438px;
}

.dashboard-login .vector {
  height: 720px;
  left: 778px;
  position: absolute;
  top: 1px;
  width: 864px;
}

.dashboard-login .form {
  height: 198px;
  left: 852px;
  position: absolute;
  top: 336px;
  width: 300px;
}

.dashboard-login .username {
  height: 45px;
  left: 0;
  position: absolute;
  top: 0;
  width: 302px;
}

.dashboard-login .overlap-group-2 {
  border: 1px solid;
  border-color: #ffffff;
  border-radius: 4px;
  height: 45px;
  position: relative;
  width: 300px;
}

.dashboard-login .text-wrapper {
  color: #ffffff;
  font-family: "Montserrat-Light", Helvetica;
  font-size: 14px;
  font-weight: 300;
  left: 50px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 12px;
  white-space: nowrap;
}

.dashboard-login .img {
  height: 20px;
  left: 11px;
  position: absolute;
  top: 12px;
  width: 20px;
}

.dashboard-login .password {
  height: 45px;
  left: 0;
  position: absolute;
  top: 65px;
  width: 302px;
}

.dashboard-login .login-btn {
  all: unset;
  box-sizing: border-box;
  height: 45px;
  left: 0;
  position: absolute;
  top: 153px;
  width: 302px;
}

.dashboard-login .login-wrapper {
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 4px 4px #0000004c;
  height: 45px;
  position: relative;
  width: 300px;
}

.dashboard-login .login {
  color: #2148c0;
  font-family: "Montserrat-SemiBold", Helvetica;
  font-size: 16px;
  font-weight: 600;
  left: 123px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 13px;
  white-space: nowrap;
}

.dashboard-login .welcome {
  color: #ffffff;
  font-family: "Montserrat-Light", Helvetica;
  font-size: 96px;
  font-weight: 300;
  left: 690px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 200px;
  width: 623px;
}

.dashboard-login .span {
  color: #ffffff;
  font-family: "Montserrat-Light", Helvetica;
  font-size: 96px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 20px;
}

.dashboard-login .text-wrapper-2 {
  font-size: 14px;
}

.user-homepage {
  background-color: #2148c0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.user-homepage .overlap-wrapper {
  background-color: #2148c0;
  height: 720px;
  overflow: hidden;
  width: 1280px;
}

.user-homepage .overlap {
  height: 1007px;
  left: -362px;
  position: relative;
  top: -1px;
  width: 1642px;
}

.user-homepage .ellipse {
  background-color: #264ec9;
  border-radius: 362px;
  height: 724px;
  left: 0;
  position: absolute;
  top: 0;
  width: 724px;
}

.user-homepage .vector {
  height: 720px;
  left: 778px;
  position: absolute;
  top: 1px;
  width: 864px;
}

.user-homepage .div {
  background-color: #234bc5;
  border-radius: 286px;
  height: 572px;
  left: 76px;
  position: absolute;
  top: 435px;
  width: 572px;
}

.user-homepage .ellipse-2 {
  background-color: #274ec7;
  border-radius: 219px;
  height: 438px;
  left: 143px;
  position: absolute;
  top: 502px;
  width: 438px;
}

.user-homepage .login-btn {
  height: 207px;
  left: 700px;
  position: absolute;
  top: 205px;
  width: 293px;
}

.user-homepage .overlap-group {
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 4px 4px #0000004c;
  height: 207px;
  position: relative;
  width: 291px;
}

.user-homepage .text-wrapper {
  color: #2148c0;
  font-family: "Montserrat-SemiBold", Helvetica;
  font-size: 16px;
  font-weight: 600;
  left: 40px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 161px;
  white-space: nowrap;
  width: 211px;
}

.user-homepage .user-single-neutral {
  height: 68px;
  left: 810px;
  position: absolute;
  top: 274px;
  width: 68px;
}

.user-homepage .overlap-group-wrapper {
  height: 207px;
  left: 1012px;
  position: absolute;
  top: 457px;
  width: 293px;
}

.user-homepage .img {
  height: 67px;
  left: 112px;
  position: absolute;
  top: 70px;
  width: 67px;
}

.user-homepage .div-wrapper {
  height: 207px;
  left: 701px;
  position: absolute;
  top: 457px;
  width: 293px;
}

.user-homepage .login-btn-2 {
  height: 207px;
  left: 1012px;
  position: absolute;
  top: 205px;
  width: 293px;
}

.user-homepage .welcome-user {
  color: #ffffff;
  font-family: "Montserrat-Light", Helvetica;
  font-size: 48px;
  font-weight: 300;
  left: 670px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 118px;
  width: 663px;
}
