/* Container for the buttons, using flex display */
.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

/* Create Ticket button styles */
.Show-Analytics,
.Update-user-button,
.Show-Reports,
.Create-Report {
  display: inline-block;
  margin-bottom: 20px; /* Add margin to separate buttons */
  padding: 15px 20px;
  text-decoration: none;
  color: white;
  background-color: #6495ED;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.Show-Analytics:hover,
.Update-user-button:hover,
.Show-Reports:hover,
.Create-Report:hover {
  background-color: #6495ED;
}
